tee/obj-sgx
tee/obj-simu
tee/Enclave/BolosSGX_private.pem
tee/Enclave/BolosSGX_t.c
tee/Enclave/BolosSGX_t.h
tee/Enclave/BolosSGX_u.c
tee/Enclave/BolosSGX_u.h
tee/secp256k1 
tee/micro-ecc 
tee/libsodium-1.0.12 
tee/ctaes
moxie/runtime/*.o
moxie/runtime/*.a
host/py/bolosenclave.egg-info
host/py/build
host/py/dist
host/py/.eggs

